html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

/* using px unit */
html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1;
  overflow-x: hidden;
}

input,
button,
textarea,
select {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  outline: none;
  border: 0;
}

input {
  line-height: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Righteous", cursive, sans-serif;
}

section[id] {
  scroll-margin-top: 30px;
}

.wrapper {
  max-width: 1792px;
  max-height: 879px;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: linear-gradient(to right, rgba(245, 103, 102, 0.4), rgba(245, 136, 38, 0.4)), url("../IMG/bg-modal.png") no-repeat center/cover;
}

.btn {
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  height: 55px;
  padding: 0 70px;
  border-radius: 4px;
  letter-spacing: 1px;
}
.btn-primary {
  color: #fff;
  font-family: "Righteous", cursive, sans-serif;
  background-image: linear-gradient(to bottom right, #f56766, #f58826);
}

.caption {
  font-family: "Kaushan Script", cursive;
  line-height: 1.4;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to bottom right, #f56766, #f58826);
}

.form {
  width: 60%;
  background-color: #222831;
  padding: 50px;
  border-radius: 15px;
  align-items: stretch;
  justify-content: center;
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
}
.form-title {
  order: -1;
  padding-bottom: 30px;
  color: #fff;
  text-align: center;
  font-size: 36px;
}
.form-group {
  padding-bottom: 20px;
  padding-left: 10px;
}
.form-input {
  background-color: transparent;
  padding: 10px 5px;
  display: block;
  width: 100%;
  color: #393e46;
  border-bottom: 1px solid #f56766;
  color: #fff;
}
.form-btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}
.form-wrap {
  width: 40%;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  flex-wrap: nowrap;
}
.form-fill {
  width: 55%;
  align-items: stretch;
  justify-content: space-evenly;
  flex-direction: column;
  display: flex;
  flex-wrap: nowrap;
}
.form-fill p {
  color: #f7f8f9;
  font-size: 16px;
  text-align: center;
}
.form-link {
  color: #f58826;
}
.form-img {
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 15px;
}
.form-caption {
  width: 100%;
  padding-bottom: 20px;
  line-height: 1.4;
}
.form-error {
  color: red;
  padding-top: 5px;
  padding-left: 5px;
  font-size: 14px;
}

.header {
  width: 100vw;
  height: 120px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  z-index: 10;
}
.header > * {
  z-index: 20;
}
.header-toggle {
  width: 230px;
  height: inherit;
  background: url("../IMG/header-airship.png") no-repeat center/cover;
  cursor: pointer;
  position: relative;
}
.header-toggle::before {
  content: "";
  width: 120px;
  height: 85px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  left: 45%;
  top: 46%;
  background: url("../IMG/header-toggle.png") no-repeat center/cover;
}
.header-content {
  width: 732px;
  height: 100px;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;
  background: url("../IMG/headermenu-cloud.png") no-repeat center/cover;
}
.header-content-item {
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;
  background-image: linear-gradient(to bottom right, #f56766, #f58826);
  width: 45px;
  height: 45px;
  border-radius: 10px;
  font-size: 30px;
  color: #fff;
  position: relative;
  transform: translateY(-5%);
}
.header-content-item::before {
  content: "";
  width: 50px;
  height: 25px;
  background: url("../IMG/cloud-item.png") no-repeat top/cover;
  border-radius: 0 0 10px 10px;
  position: absolute;
  bottom: 0;
}
.header-content-item::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;
}
.header-content-item:hover {
  cursor: pointer;
}
.header-content-item:hover::before {
  opacity: 1;
  visibility: visible;
}
.header-content-link {
  color: #fff;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.dashboard {
  width: 1661px;
  height: 834px;
  background: url("../IMG/bg-night.png") no-repeat center/cover;
  background-attachment: scroll;
  position: relative;
}

.dashboard-rating {
  position: fixed;
  width: 170px;
  height: 170px;
  left: 175px;
  top: 155px;
  z-index: 1;
  background: url("../IMG/rating.png") no-repeat center/cover;
  transform: rotate(0);
}
.dashboard-rating::before {
  content: "Your Rating";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 36px;
  font-family: "Righteous", cursive, sans-serif;
  text-align: center;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to bottom right, #f56766, #f58826);
}
.dashboard-rating::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;
}
.dashboard-rating:hover {
  cursor: pointer;
}
.dashboard-rating:hover::before {
  opacity: 1;
  visibility: visible;
}
.dashboard-welcome {
  position: fixed;
  width: 200px;
  height: 155px;
  left: 25px;
  top: 420px;
  z-index: 1;
  background: url("../IMG/welcome.png") no-repeat center/cover;
  transform: rotate(0);
}

.category-all {
  width: 215px;
  height: 215px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.category-all::before {
  content: "All Categories";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 36px;
  font-family: "Righteous", cursive, sans-serif;
  text-align: center;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to bottom right, #f56766, #f58826);
}
.category-all::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;
}
.category-all:hover {
  cursor: pointer;
}
.category-all:hover::before {
  opacity: 1;
  visibility: visible;
}
.category-kid {
  position: fixed;
  width: 207px;
  height: 170px;
  left: 1210px;
  top: 510px;
  z-index: 1;
  background: url("../IMG/kid.png") no-repeat center/cover;
  transform: rotate(0);
}
.category-kid::before {
  content: "Kid";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 36px;
  font-family: "Righteous", cursive, sans-serif;
  text-align: center;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to bottom right, #f56766, #f58826);
}
.category-kid::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;
}
.category-kid:hover {
  cursor: pointer;
}
.category-kid:hover::before {
  opacity: 1;
  visibility: visible;
}
.category-family {
  position: fixed;
  width: 200px;
  height: 170px;
  left: 345px;
  top: 525px;
  z-index: 1;
  background: url("../IMG/family.png") no-repeat center/cover;
  transform: rotate(0);
}
.category-family::before {
  content: "Family";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 36px;
  font-family: "Righteous", cursive, sans-serif;
  text-align: center;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to bottom right, #f56766, #f58826);
}
.category-family::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;
}
.category-family:hover {
  cursor: pointer;
}
.category-family:hover::before {
  opacity: 1;
  visibility: visible;
}
.category-school {
  position: fixed;
  width: 195px;
  height: 170px;
  left: 520px;
  top: 150px;
  z-index: 1;
  background: url("../IMG/school.png") no-repeat center/cover;
  transform: rotate(0);
}
.category-school::before {
  content: "School";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 36px;
  font-family: "Righteous", cursive, sans-serif;
  text-align: center;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to bottom right, #f56766, #f58826);
}
.category-school::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;
}
.category-school:hover {
  cursor: pointer;
}
.category-school:hover::before {
  opacity: 1;
  visibility: visible;
}
.category-history {
  position: fixed;
  width: 150px;
  height: 150px;
  left: 1055px;
  top: 342px;
  z-index: 1;
  background: url("../IMG/history.png") no-repeat center/cover;
  transform: rotate(-5deg);
}
.category-history::before {
  content: "History";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 36px;
  font-family: "Righteous", cursive, sans-serif;
  text-align: center;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to bottom right, #f56766, #f58826);
}
.category-history::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;
}
.category-history:hover {
  cursor: pointer;
}
.category-history:hover::before {
  opacity: 1;
  visibility: visible;
}
.category-motivate {
  position: fixed;
  width: 170px;
  height: 170px;
  left: 1185px;
  top: 135px;
  z-index: 1;
  background: url("../IMG/motivate.png") no-repeat center/cover;
  transform: rotate(0);
}
.category-motivate::before {
  content: "Motivation";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 36px;
  font-family: "Righteous", cursive, sans-serif;
  text-align: center;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to bottom right, #f56766, #f58826);
}
.category-motivate::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;
}
.category-motivate:hover {
  cursor: pointer;
}
.category-motivate:hover::before {
  opacity: 1;
  visibility: visible;
}
.category-world {
  position: fixed;
  width: 170px;
  height: 170px;
  left: 1430px;
  top: 160px;
  z-index: 1;
  background: url("../IMG/world.png") no-repeat center/cover;
  transform: rotate(0);
}
.category-world::before {
  content: "World";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 36px;
  font-family: "Righteous", cursive, sans-serif;
  text-align: center;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to bottom right, #f56766, #f58826);
}
.category-world::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;
}
.category-world:hover {
  cursor: pointer;
}
.category-world:hover::before {
  opacity: 1;
  visibility: visible;
}

/*# sourceMappingURL=app.css.map */
