/* using px unit */
html {
  scroll-behavior: smooth;
  font-size: 100%;
}
body {
  font-family: $primary-font;
  font-size: 18px;
  line-height: 1;
  color: $gray-light;
  background-color: $gray;
  overflow-x: hidden;
  padding-top: 60px;
  @include hideScroll();
}
input,
button,
textarea,
select {
  font-family: $primary-font;
  font-size: 16px;
  outline: none;
  border: 0;
}
input {
  line-height: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondary-font;
}
section[id] {
  scroll-margin-top: 30px;
}
.wrapper {
  margin: 0 auto;
  // background: linear-gradient(-45deg, rgba($gray, 0.8) 10%, rgba($gray, 0.01)) 90%, url("../IMG/icons/cloud-bg.svg") no-repeat center / cover;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
.modal {
  @include absoluteFull();
  position: fixed;
  z-index: 10;

  @include flexCenter();
  padding: 20px;
  background: linear-gradient(to right, rgba($primary-color, 0.4), rgba($secondary-color, 0.4)), url("../IMG/bg-modal.png") no-repeat center / cover;
}
.btn {
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  height: 55px;
  padding: 0 70px;
  border-radius: 4px;
  letter-spacing: 1px;
  &-primary {
    color: #fff;
    font-family: $secondary-font;
    @include gradient($primary-color, $secondary-color);
  }
}
.btn-mode{
  padding: 10px 20px;
  transition: all 0.25s ease;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: $gray;
  color: $gray-lighter;
  margin-left: 5px;
  &:hover{
    @include textGradient();
    border: 1px solid $primary-color;
  }
}
.mode-active{
  border: 1px solid $primary-color;
  @include textGradient();
}


#toTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  outline: none;
  cursor: pointer;
  padding: 24px 32px;
  border-radius: 20px;
  @include gradient($primary-color, $secondary-color, 0.1, 0.1);
  border: 1px solid transparent;
  font-size: 32px;
  & > i {
    @include centerPosition("both");
    @include textGradient();
  }
  & > .fa-angle-double-up {
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
  }
  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-45%, -110%);
    @include size(90px, 52px);
    background: url("../IMG/header-airship.png") no-repeat center / cover;
    transition: 0.3s;
  }
}

#toTopBtn:hover {
  border: 1px solid $primary-color;
  & > .fa-angle-double-up {
    opacity: 1;
    visibility: visible;
  }
  & > .fa-angle-up {
    opacity: 0;
    visibility: hidden;
  }
  &::before {
    transform: translate(-50%, -150%);
  }
}
