/* using px unit */
html {
  scroll-behavior: smooth;
  font-size: 100%;
}
body {
  font-family: $primary-font;
  font-size: 18px;
  line-height: 1;
  overflow-x: hidden;
}
input,
button,
textarea,
select {
  font-family: $primary-font;
  font-size: 16px;
  outline: none;
  border: 0;
}
input {
  line-height: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondary-font;
}
section[id] {
  scroll-margin-top: 30px;
}
.wrapper {
  max-width: 1792px;
  max-height: 879px;
  margin: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.modal {
  @include absoluteFull();
  position: fixed;
  z-index: 10;

  @include flexCenter();
  padding: 20px;
  background: linear-gradient(to right, rgba($primary-color, 0.4), rgba($secondary-color, 0.4)), url("../IMG/bg-modal.png") no-repeat center / cover;
}
.btn {
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  height: 55px;
  padding: 0 70px;
  border-radius: 4px;
  letter-spacing: 1px;
  &-primary {
    color: #fff;
    font-family: $secondary-font;
    @include gradient($primary-color, $secondary-color);
  }
}
