/* using px unit */
html {
  scroll-behavior: smooth;
  font-size: 100%;
}
body {
  font-family: $primary-font;
  font-size: 18px;
  line-height: 1;
  overflow-x: hidden;
}
input,
button,
textarea,
select {
  font-family: $primary-font;
  font-size: 16px;
  outline: none;
  border: 0;
}
input {
  line-height: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondary-font;
}
section[id] {
  scroll-margin-top: 30px;
}
.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  // background: url("../IMG/bg-night.png") no-repeat center / 100%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
