.category {
  padding-top: 80px;
  &-title {
    padding-right: 10px;
    @include iconTitle("../IMG/icons/all-icon.png", 25px);
  }
  @include flexLayout(4, 25px);
  width: 100%;
  @include customScroll($primary-color);
  &-item {
    background-color: $gray;
    padding-bottom: 20px;
    padding: 10px;
    @include flex();
    & > img {
      width: 50%;
      height: 100%;
      border-radius: 10px;
      flex-shrink: 0;
      object-fit: cover;
      transition: 0.3s;
    }
    &-content {
      height: 100%;
      @include flex(flex-start, flex-start, column);
      padding-left: 10px;
    }
    &-content > p{
      font-size: 14px;
      padding-top: 15px;
      @include textClamp(5);
    }
    &-content > span {
      font-family: $secondary-font;
      color: $gray-lighter;
      font-size: 20px;
      font-weight: normal;
      letter-spacing: 2px;
      padding-top: 10px;
      position: relative;
      &::before {
        content: "";
        background-color: $primary-color;
        height: 3px;
        width: 100%;
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translate(-50%, 100%);
        opacity: 0;
        border-radius: 10px;
      }
    }
    &:nth-child(3n) span::before {
      background: $primary-color;
    }
    &:nth-child(3n + 2) span::before {
      background: $secondary-color;
    }
    &:nth-child(3n + 1) span::before {
      background: #ffd651;
    }
  }

  &-item:hover {
    & > img {
      transform: scale(0.9);
    }
    & span {
      @include textGradient();
      &::before {
        opacity: 1;
      }
    }
  }
}
