.dashboard {
  width: 1661px;
  height: 834px;
  background: url("../IMG/bg-night.png") no-repeat center / cover;
  background-attachment: scroll;
  position: relative;
}
.dashboard {
  &-rating {
    @include itemPosition("rating.png", 170px, 170px, 175px, 155px);
    @include showItemTitle("Your Rating");
  }
  &-welcome {
    @include itemPosition("welcome.png", 200px, 155px, 25px, 420px);
  }
}
.category {
  &-all {
    @include size(215px);
    @include centerPosition("both");
    @include showItemTitle("All Categories");
  }
  &-kid {
    @include itemPosition("kid.png", 207px, 170px, 1210px, 510px);
    @include showItemTitle("Kid");
  }
  &-family {
    @include itemPosition("family.png", 200px, 170px, 345px, 525px);
    @include showItemTitle("Family");
  }
  &-school {
    @include itemPosition("school.png", 195px, 170px, 520px, 150px);
    @include showItemTitle("School");
  }
  &-history {
    @include itemPosition("history.png", 150px, 150px, 1055px, 342px, -5deg);
    @include showItemTitle("History");
  }
  &-motivate {
    @include itemPosition("motivate.png", 170px, 170px, 1185px, 135px);
    @include showItemTitle("Motivation");
  }
  &-world {
    @include itemPosition("world.png", 170px, 170px, 1430px, 160px);
    @include showItemTitle("World");
  }
}
