.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: $gray-darkest;
  &-top {
    height: 60px;
    @include flex(center, space-between);
    padding: 0 5px;
    background-color: $gray-darkest;
    z-index: 10;
    & > * {
      z-index: 20;
    }
  }
  &-top-right {
    margin-left: auto;
    width: 60%;
    @include flex(center, space-between);
  }
  &-logo-link {
    @include flex(center);
    & > span {
      font-family: $secondary-font;
      @include textGradient();
      font-size: 30px;
    }
  }
  &-filter-wrapper {
    width: 80%;
    height: inherit;
    display: flex;
    padding: 5px;
    border-radius: 100px;
    border: 1px solid $gray-light;
    & > .header-search {
      padding: 10px 20px;
      color: #fff;
      flex-shrink: 0;
      border-radius: 100px;
      @include gradient();
    }
    & > .header-filter-dropdown {
      background-color: transparent;
      border: none;
      @include flex(center, space-between);
      color: $gray-light;
      flex-shrink: 0;
      flex-basis: 140px;
      max-width: 140px;
      padding: 0 10px;
      border-right: 2px solid $gray-light;
      & > i {
        margin-left: auto;
        font-size: 20px;
      }
    }
    & > input {
      width: 100%;
      padding: 10px;
      background-color: transparent;
      -webkit-appearance: none;
      font-size: 14px;
      font-weight: lighter;
      color: $gray-lighter;
    }
  }
  &-avatar {
    @include flex(center, flex-end);
    width: 25%;
    margin-left: 5px;
  }
  &-user {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid $gray-lighter;
    z-index: 1;
    @include flex(center, center);
    & > img {
      flex-shrink: 0;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}
.dropdown {
  position: relative;
  border-radius: 8px;
  color: $gray-lighter;
  &-caret {
    @include textGradient();
    font-size: 22px;
  }
  &-select {
    @include flex(center, flex-end);
    cursor: pointer;
    & > span {
      padding: 0 5px;
      font-family: $secondary-font;
      @include textGradient();
      @include textClamp(1, 50%);
    }
  }
  &-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 18px;
    padding: 5px;
    border-radius: 8px;
    background-color: $gray-darkest;
    display: none;
    border: 1px solid $gray-darkest;
    box-shadow: 1px 1px 2px 0px rgba(black, 0.2);
  }
  &-list::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 10px;
    background-color: $gray-darkest;
    border-radius: 4px;
    transform: translateY(-50%) rotate(45deg);
    z-index: -1;
  }
  &-list::after {
    content: "";
    height: 18px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    transform: translateY(-100%);
  }

  &-list.show {
    display: block;
    box-shadow: rgba(#111, 0.5) 0px 2.5px 5px;
  }
  &-item {
    padding: 10px;
    margin-top: 5px;
    transition: all 0.25s ease;
    border-radius: 8px;
    cursor: pointer;
    @include flex(center, space-between);
    border: 1px solid transparent;
    transition: all 0.25s linear;
    & > span {
      color: $gray-lighter;
      font-weight: bold;
    }
    &-icon {
      color: $gray-lighter;
    }
  }

  &-item:not(:last-child):hover {
    @include gradient($primary-color, $secondary-color, 0.05, 0.05);
    border: 1px solid $primary-color;
    & > span,
    i {
      @include textGradient();
    }
  }
  &-item:last-child {
    border-radius: 0 0 8px 8px;
    border-top: 2px solid $gray-light;
    &:hover {
      & > span,
      i {
        color: $gray-light;
      }
    }
  }
}
