.form {
  width: 60%;
  background-color: $gray-darker;
  padding: 50px;
  border-radius: 15px;

  @include flex(stretch, center);
  gap: 40px;

  &-title {
    order: -1;
    padding-bottom: 30px;
    color: #fff;
    text-align: center;
    font-size: 36px;
  }
  &-group {
    padding-bottom: 20px;
    padding-left: 10px;
  }
  &-input {
    background-color: transparent;
    padding: 10px 5px;
    display: block;
    width: 100%;
    color: $gray;
    border-bottom: 1px solid $primary-color;
    color: #fff;
  }
  &-btn {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  &-wrap {
    width: 40%;
    @include flex(stretch, space-between, column);
  }
  &-fill {
    width: 55%;
    @include flex(stretch, space-evenly, column);
  }
  &-fill p {
    color: $gray-lighter;
    font-size: 16px;
    text-align: center;
  }
  &-link {
    color: $secondary-color;
  }
  &-img {
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 15px;
  }
  &-caption {
    width: 100%;
    padding-bottom: 20px;
    line-height: 1.4;
  }
  &-error {
    color: red;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 14px;
  }
}

