.caption{
  font-family: $third-font;
  line-height: 1.4;
  @include textGradient();
}
.title{
  font-family: $secondary-font;
  color: $gray-lighter;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 20px;
  display: inline-block;
}
